
    body {
        font-family: sans-serif;
        background-color:rgb(235, 199, 139);
        }
    
        .container {
        margin: 0 auto;
        padding-top: 20px;
        border:rgb(250, 169, 137) 2px solid;
        }
    
        .my-cart {
        background-color:rgb(240, 124, 124);
        display: block;
        margin: 0 auto 30px;
        max-width: 400px;
        padding: 10px;
        border-radius: 20px;
        }
    
        .header {
        text-align: center;
        margin: 0 auto 20px auto;
        color:bisque;
        font-size: 30px;
        }
    
        input[type=text]{
        width: 376px;
        padding: 10px;
        }
    
        .myBtn{
        margin-top: 10px;
        width: 100%;
        padding: 10px;
        cursor: pointer;
        }
        .color-red{
        color: red;
        }
    
    